<!DOCTYPE html>
<html>
<body>
<h1>Perfect Fit For Me API</h1>
<p>This RESTful API allows information concerning our three models to be received</p>
 
<h4>Cities</h4>
<p><a href="api.perfectfitfor.me/cities">api.perfectfitfor.me/cities</a></p>
<h4>Cities by State</h4>
<p><a href="api.perfectfitfor.me/cities/state/<state>">api.perfectfitfor.me/cities/state/<state></a></p>
<h4>Jobs</h4>
<p><a href="api.perfectfitfor.me/jobs">api.perfectfitfor.me/jobs</a></p>
<h4>Jobs by ID</h4>
<p><a href="api.perfectfitfor.me/jobs/id/<id>">api.perfectfitfor.me/jobs/id/<id></a></p>
<h4>Jobs by City</h4>
<p><a href="api.perfectfitfor.me/jobs/city/<city>">api.perfectfitfor.me/jobs/city/<city></a></p>
<h4>Events</h4>
<p><a href="api.perfectfitfor.me/events">api.perfectfitfor.me/events</a></p>
</body>
</html>