<!DOCTYPE html>
<html>
<body>
<h1>Perfect Fit For Me API</h1>
<p>Visit our Postman documentation for a much better display: <a href="https://documenter.getpostman.com/view/6807504/S17wNmPd">Postman Documentation</a></p>
<p>This RESTful API allows information concerning our three models to be received.</p>
 
<h4>Cities</h4>
<p><a href="/api/cities">api.perfectfitfor.me/cities</a></p>
<h4>Cities by State</h4>
<p><a href="/api/cities/state/Texas">api.perfectfitfor.me/cities/state/&ltstate&gt</a></p>
<h4>Jobs</h4>
<p><a href="/api/jobs">api.perfectfitfor.me/jobs</a></p>
<h4>Jobs by ID</h4>
<p><a href="/api/jobs/id/2">api.perfectfitfor.me/jobs/id/&ltid&gt</a></p>
<h4>Events</h4>
<p><a href="/api/events">api.perfectfitfor.me/events</a></p>
</body>
</html>